

<div class="parent">
    <div class="left">
        <h4>Introduction</h4>
        <br>
            <button routerLink="/whatJ"><h5>> What is Java</h5></button><br>
            <button routerLink="/featuresJ"><h5>> Features of Java</h5></button><br>
            <button routerLink="/ide"><h5>IDE ></h5></button><br>
            <button routerLink="/home"><h5>SQL ></h5></button><br>
            <button routerLink="/quiz" style="padding-bottom: 5%;"><h5>Quiz ></h5></button>
  
    </div>
    
</div>
