<!-- <h3 style="text-align:center; margin-left: 50%; margin-right: 50%;">JAVA Tutorials</h3> -->
<div class="parent">
    <div class="left">
        <h4>Introduction</h4>
        <br>
            <button routerLink="/whatJ"><h5>> What is Java</h5></button><br>
            <button routerLink="/featuresJ"><h5>> Features of Java</h5></button><br>
            <button routerLink="/helloJ"><h5>> Hello in Java</h5></button><br>
            <!-- <button routerLink="/home"><h5>SQL ></h5></button><br>
            <button routerLink="/quiz" style="padding-bottom: 5%;"><h5>Quiz ></h5></button> -->
        <br>
        <h4>Control Statements</h4>
        <br>
            <button routerLink="/controlJ"><h5>> Java Control<br>Statements</h5></button><br>
            <button routerLink="/ifelseJ"><h5>> Java if-else</h5></button><br>
            <button routerLink="/switchJ"><h5>> Java Switch</h5></button><br>
            <button routerLink="/whileJ"><h5>> While loop</h5></button><br>
            <button routerLink="/dowhileJ"><h5>> Do While loop</h5></button><br>
            <button routerLink="/forJ"><h5>> For loop</h5></button><br>
            <button routerLink="/breakJ"><h5>> Java Break</h5></button><br>
            <button routerLink="/contiJ"><h5>> Java continue</h5></button><br>

            <button routerLink="/controlJ"><h5>> Java Control<br>Statements</h5></button><br>
            <button routerLink="/ifelseJ"><h5>> Java if-else</h5></button><br>
            <button routerLink="/switchJ"><h5>> Java Switch</h5></button><br>
            <button routerLink="/whileJ"><h5>> While loop</h5></button><br>
            <button routerLink="/dowhileJ"><h5>> Do While loop</h5></button><br>
            <button routerLink="/forJ"><h5>> For loop</h5></button><br>
            <button routerLink="/breakJ"><h5>> Java Break</h5></button><br>
            <button routerLink="/contiJ"><h5>> Java continue</h5></button><br>

            <!-- <button routerLink="/home"><h5>SQL></h5></button><br>
            <button routerLink="/quiz" style="padding-bottom: 5%;"><h5>Quiz ></h5></button> -->
  
  
    </div>
    
</div>
