<div id="top"> 
    <h2>Computer Architecture Tutorial</h2>
 </div>
<div class="contain" style="display: flex;">
    <app-coa-home></app-coa-home>
    
    <div class="parent">
        <div class="right">
            <h1><b>Flynn's Classification Of Computers</b></h1>
        <br>
    
            <h5>
                M.J. Flynn proposed a classification for the organization of a computer system by the number of instructions and data items that are manipulated simultaneously.<br><br>

The sequence of instructions read from memory constitutes an <b>instruction stream</b>.<br>

The operations performed on the data in the processor constitute a <b>data stream</b>.<br>
Parallel processing may occur in the instruction stream, in the data stream, or both.
            <br><br>


                <img src="../assets/images/flynn.png" style="width: 700px; height: 3s50px;" >

                <br><br>
               
            </h5>
        
        </div>
    </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary pull-right" style="margin-right: 210px;margin-top: 10px;" routerLink="/regCoa">Next</button>
        <button type="button" class="btn btn-primary pull-left" style="margin-left: 610px;margin-top: 10px;" routerLink= "/spCoa">Previous</button>
    </div>