<div class="parent">
    <div class="left">
        <h4>Introduction</h4>
        <br>
            <button routerLink="/whatCpp"><h5>> What is C++?</h5></button><br><br>
            <button routerLink="/progCpp"><h5>> Hello world program</h5></button><br><br>
            <button routerLink="/varCpp"><h5>> C++ variables</h5></button><br><br>
            <button routerLink="/datatypesCpp"><h5>> C++ Data types</h5></button><br><br>
            <button routerLink="/opCpp"><h5>> C++ Operators</h5></button><br><br>

            <h4>Flow Control</h4>
            <br>
            <button routerLink="/ifelseCpp"><h5>> C++ if-else</h5></button><br><br>
            <button routerLink="/switchCpp"><h5>> C++ switch</h5></button><br><br>
            <button routerLink="/forCpp"><h5>> C++ for loop</h5></button><br><br>
            <button routerLink="/whileCpp"><h5>> C++ while loop</h5></button><br><br>
            <button routerLink="/dowhileCpp"><h5>> C++ do-while loop</h5></button><br><br>
            <button routerLink="/breakCpp"><h5>> C++ break</h5></button><br><br>
            <button routerLink="/contiCpp"><h5>> C++ continue</h5></button><br><br>



        <br>
  
    </div>
    
</div>

