<div id="top"> 
    <h2>Computer Architecture Tutorial</h2>
 </div>
<div class="contain" style="display: flex;">
    <app-coa-home></app-coa-home>
    
    <div class="parent">
        <div class="right">
            <h1><b>Instruction Cycle </b></h1>
        <br>
    
            <h5>
                A program residing in the memory unit of a computer consists of a sequence of instructions. These instructions are executed by the processor by going through a cycle for each instruction.<br>

                In a basic computer, each instruction cycle consists of the following phases:<br><br>
                
                <ol type="1"><li>Fetch instruction from memory.</li>
                <li>Decode the instruction.</li>
                <li>Read the effective address from memory.</li>
                <li>Execute the instruction.</li></ol>
            <br><br>


                <img src="../assets/images/ins.png" style="width: 700px; height: 3s50px;" >

                <br><br>
               
            </h5>
        
        </div>
    </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary pull-right" style="margin-right: 210px;margin-top: 10px;" routerLink="/dcCoa">Next</button>
        <button type="button" class="btn btn-primary pull-left" style="margin-left: 610px;margin-top: 10px;" routerLink= "/regcCoa">Previous</button>
    </div>