/* *{
    
    margin-left: 20px;
} */
#top {
    width: 300px;
    padding: 10px 0;
    border: 2px solid #000;
    margin: 50px 50% 0 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #81ccec;
  }
    .parent {
      margin-left: 10px;
      margin-right: 200px;
      padding-top: 70px;
      display: flex;
      /* justify-content: space-around; */
    }
    
  
    
    .right {
      padding: 10px;
      border: 1px solid lightgray;
      background-color: #e9f7ff;
      width: 700px;
    }
  
   
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }