<div id="top"> 
    <h2>Computer Network Tutorial</h2>
 </div>
<div class="contain" style="display: flex;">
    <app-net-home></app-net-home>
    
    <div class="parent">
        <div class="right">
            <h1><b>TCP/IP Model</b></h1>
        <br>
    
            <h5>The TCP/IP model was developed prior to the OSI model.
                The TCP/IP model is not exactly similar to the OSI model.
                The TCP/IP model consists of five layers: the application layer, transport layer, network layer, data link layer and physical layer.
                The first four layers provide physical standards, network interface, internetworking, and transport functions that correspond to the first four layers of the OSI model and these four layers are represented in TCP/IP model by a single layer called the application layer.
                TCP/IP is a hierarchical protocol made up of interactive modules, and each of them provides specific functionality.
                Here, hierarchical means that each upper-layer protocol is supported by two or more lower-level protocols.<br><br>
                <img src="../assets/images/tcpip.png" style="width: 700px; height: 480px;" >

            </h5>
        
        </div>
    </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary pull-right" style="margin-right: 210px;margin-top: 10px;" routerLink="/topoN">Next</button>
        <button type="button" class="btn btn-primary pull-left" style="margin-left: 610px;margin-top: 10px;" routerLink= "/osiN">Previous</button>
    </div>