<div id="top"> 
    <h2>OS Tutorial</h2>
 </div>
<div class="contain" style="display: flex;">
    <app-os-home></app-os-home>
    
    <div class="parent">
        <div class="right">
            <h1><b>Functions of OS</b></h1>
        <br>
    
            <h5>
                one typical operating system functions may include managing memory, files, processes, I/O system & devices, security, etc.<br><br>

                Below are the main functions of Operating System:<br><br>
                <img src="../assets/images/funco.png" style="width: 600px; height: 300px;" > <br>

             </h5>

               
            
        
        </div>
    </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary pull-right" style="margin-right: 210px;margin-top: 10px;" routerLink="/procO">Next</button>
        <button type="button" class="btn btn-primary pull-left" style="margin-left: 610px;margin-top: 10px;" routerLink= "/typeO">Previous</button>
        
    </div>