<div id="top"> 
    <h2>Data Structure Tutorial</h2>
 </div>
<div class="contain" style="display: flex;">
    <app-dsc-home></app-dsc-home>
    
    <div class="parent">
        <div class="right">
            <h1><b>Key Operations</b></h1>
        <br>
    
            <h5>
                The major or the common operations that can be performed on the data structures are:<br><br>
                <b>Searching:</b> We can search for any element in a data structure.<br><br>
                <b>Sorting:</b> We can sort the elements of a data structure either in an ascending or descending order.<br><br>
                <b>Insertion:</b> We can also insert the new element in a data structure.<br><br>
                <b>Updation:</b> We can also update the element, i.e., we can replace the element with another element.<br><br>
                <b>Deletion:</b> We can also perform the delete operation to remove the element from the data structure.
                <br><br>
               
            </h5>
        
        </div>
    </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary pull-right" style="margin-right: 210px;margin-top: 10px;" routerLink="/arrDsc">Next</button>
        <button type="button" class="btn btn-primary pull-left" style="margin-left: 610px;margin-top: 10px;" routerLink= "/typeDsc">Previous</button>

    </div>