<div id="top"> 
    <h2>Computer Architecture Tutorial</h2>
 </div>
<div class="contain" style="display: flex;">
    <app-coa-home></app-coa-home>
    
    <div class="parent">
        <div class="right">
            <h1><b>Register & Memory Configuration</b></h1>
        <br>
    
            <h5>
                <ul><li>The Memory unit has a capacity of 4096 words, and each word contains 16 bits.</li>
<li>The Data Register (DR) contains 16 bits which hold the operand read from the memory location.</li>
<li>The Memory Address Register (MAR) contains 12 bits which hold the address for the memory location.</li>
<li>The Program Counter (PC) also contains 12 bits which hold the address of the next instruction to be read from memory after the current instruction is executed.</li>
<li>The Accumulator (AC) register is a general purpose processing register.</li>
<li>The instruction read from memory is placed in the Instruction register (IR).</li>
<li>The Temporary Register (TR) is used for holding the temporary data during the processing.</li>
<li>The Input Registers (IR) holds the input characters given by the user.</li>
<li>The Output Registers (OR) holds the output after processing the input data.</li></ul>
            <br><br>


                <img src="../assets/images/reg.png" style="width: 700px; height: 400px;" >

                <br><br>
               
            </h5>
        
        </div>
    </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary pull-right" style="margin-right: 210px;margin-top: 10px;" routerLink="/insCoa">Next</button>
        <button type="button" class="btn btn-primary pull-left" style="margin-left: 610px;margin-top: 10px;" routerLink= "/regCoa">Previous</button>
    </div>