<div class="contain" style="display: flex;">
<app-java-home></app-java-home>

<div class="parent">
    <div class="right">
        <h1><b>What is Java?</b></h1>
    <br>

        <h5> is an online platform for programmers where you can learn programming and can prepare for placements. Here you can 
            Practice Computer Science MCQ, Coding Quistions etc.
            Also you can Find Best Online Programming learning Resources Available on Internet.
            is an online platform for programmers where you can learn programming and can prepare for placements. Here you can 
            Practice Computer Science MCQ, Coding Quistions etc.
            Also you can Find Best Online Programming learning Resources Available on Internet.</h5>
    
    </div>
</div>
</div>