<div id="top"> 
    <h2>JAVA Tutorial</h2>
 </div>
<div class="contain" style="display: flex;">
<app-java-home></app-java-home>

<div class="parent">
    <div class="right">
        <h1><b>What is Java?</b></h1>
    <br>

        <h5> Java is a general-purpose, class-based, object-oriented programming language designed for having lesser implementation dependencies. It is a computing platform for application development. Java is fast, secure, and reliable, therefore. It is widely used for developing Java applications in laptops, data centers, game consoles, scientific supercomputers, cell phones, etc.<br>
            Java was developed by Sun Microsystems (which is now the subsidiary of Oracle) in the year 1995. James Gosling is known as the father of Java. Before Java, its name was Oak. Since Oak was already a registered company, so James Gosling and his team changed the name from Oak to Java.
        </h5>
    
    </div>
</div>
</div>
<div>
    <button type="button" class="btn btn-primary pull-right" style="margin-right: 310px;margin-top: 10px;" routerLink="/featuresJ">Next</button>
</div>