<div id="top"> 
    <h2>C Tutorial</h2>
 </div>
<div class="contain" style="display: flex;">
<app-c-home></app-c-home>

<div class="parent">
    <div class="right">
        <h1><b>Compilation process in c</b></h1>
    <br>
        <h2>What is a compilation?</h2>
        <h5 style="text-align: justify;"> 
            The compilation is a process of converting the source code into object code. It is done with the help of the compiler. The compiler checks the source code for the syntactical or structural errors, and if the source code is error-free, then it generates the object code.
        <br><br><img src="../assets/images/compilationC.png"><br><br>
        The c compilation process converts the source code taken as input into the object code or machine code. The compilation process can be divided into four steps, i.e., Pre-processing, Compiling, Assembling, and Linking.
<br><br>
The preprocessor takes the source code as an input, and it removes all the comments from the source code. The preprocessor takes the preprocessor directive and interprets it. For example, if <b>&lt;stdio.h&gt;</b>, the directive is available in the program, then the preprocessor interprets the directive and replace this directive with the content of the <b>'stdio.h'</b> file.
<br><br>
The following are the phases through which our program passes before being transformed into an executable form: <br><br>
<ul>
    <li>Preprocessor</li>
    <li> Compiler</li>
    <li> Assembler</li> 
    <li>Linker</li>
</ul>
        </h5>
    
    </div>
</div>
</div>
<div>
    <button type="button" class="btn btn-primary pull-left" style="margin-left: 510px;margin-top: 10px;" routerLink= "/firstC">Previous</button>
    <button type="button" class="btn btn-primary pull-right" style="margin-right: 310px;margin-top: 10px;" routerLink="/variableC">Next</button>
</div>
