<div class="parent">
  <div id="right">
    <div class="heading">
      <h3>CS Subjects</h3>
    </div>
    <br />
    <div class="row">
      <div class="column">
        <div class="img-container">
          <a href="#"><img src="../assets/images/os.png" alt="" /></a>
        </div>
        <div class="quiz-name">
          <a href="#"><h4 style="margin-top: -23px; color: #fff;">Operating System</h4></a>
        </div>
      </div>
      <div class="column">
        <div class="img-container">
          <a routerLink="/whatD"><img src="../assets/images/dbms.png" alt="" /></a>
        </div>
        <div class="quiz-name">
          <a routerLink="/whatD"><h4 style="margin-top: -23px; color: #fff;">DBMS</h4></a>
        </div>
      </div>
      <div class="column">
        <div class="img-container">
          <a href="#"><img src="../assets/images/cn.png" alt="" /></a>
        </div>
        <div class="quiz-name">
          <a href="#"><h4 style="margin-top: -23px; color: #fff;">Computer Networks</h4></a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="img-container">
          <a href="#"><img src="../assets/images/ds.png" alt="" /></a>
        </div>
        <div class="quiz-name">
          <a href="#"><h4 style="margin-top: -23px; color: #fff;">Data Structures</h4></a>
        </div>
      </div>
      <div class="column">
        <div class="img-container">
          <a href="#"><img src="../assets/images/algo.png" alt="" /></a>
        </div>
        <div class="quiz-name">
          <a href="#"><h4 style="margin-top: -23px; color: #fff;">Algorithms</h4></a>
        </div>
      </div>

      <div class="column">
        <div class="img-container">
          <a href="#"><img src="../assets/images/math.jpg" alt="" /></a>
        </div>
        <div class="quiz-name">
          <a href="#"><h4 style="margin-top: -23px; color: #fff;">Mathematics</h4></a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="img-container">
          <a href="#"><img src="../assets/images/ca.jpg" alt="" /></a>
        </div>
        <div class="quiz-name">
          <a href="#"><h4 style="margin-top: -23px; color: #fff;">Computer Architecture</h4></a>
        </div>
      </div>
      <div class="column">
        <div class="img-container">
          <a href="#"><img src="../assets/images/se.png" alt="" /></a>
        </div>
        <div class="quiz-name">
          <a href="#"><h4 style="margin-top: -23px; color: #fff;">Software Engineering</h4></a>
        </div>
      </div>
      <div class="column">
        <div class="img-container">
          <a href="#"><img src="../assets/images/cd.png" alt="" /></a>
        </div>
        <div class="quiz-name">
          <a href="#"><h4 style="margin-top: -23px; color: #fff;">Compiler Design</h4></a>
        </div>
      </div>
    </div>
  </div>
</div>
