<div id="top"> 
    <h2>Data Structure Tutorial</h2>
 </div>
<div class="contain" style="display: flex;">
    <app-dsc-home></app-dsc-home>
    
    <div class="parent">
        <div class="right">
            <h1><b>Array</b></h1>
        <br>
    
            <h5>
                Arrays are defined as the collection of similar type of data items stored at contiguous memory locations.
Arrays are the derived data type in C programming language which can store the primitive type of data such as int, char, double, float, etc.
Array is the simplest data structure where each data element can be randomly accessed by using its index number.<br><br>
For example, if we want to store the marks of a student in 6 subjects, then we don't need to define different variable for the marks in different subject. instead of that, we can define an array which can store the marks in each subject at a the contiguous memory locations.
The array marks[10] defines the marks of the student in 10 different subjects where each subject marks are located at a particular subscript in the array i.e. marks[0] denotes the marks in first subject, marks[1] denotes the marks in 2nd subject and so on.
<br><br>
<img src="../assets/images/arraydsc.jpg" style="width: 700px; height: 300px;" >

                
               
            </h5>
        
        </div>
    </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary pull-right" style="margin-right: 210px;margin-top: 10px;" routerLink="/typearrDsc">Next</button>
        <button type="button" class="btn btn-primary pull-left" style="margin-left: 610px;margin-top: 10px;" routerLink= "/opDsc">Previous</button>

    </div>