<div id="top"> 
    <h2>Computer Architecture Tutorial</h2>
 </div>
<div class="contain" style="display: flex;">
    <app-coa-home></app-coa-home>
    
    <div class="parent">
        <div class="right">
            <h1><b>Digital Computer</b></h1>
        <br>
    
            <h5>
                A Digital computer can be considered as a digital system that performs various computational tasks.<br>

The first electronic digital computer was developed in the late 1940s and was used primarily for numerical computations.<br>

By convention, the digital computers use the binary number system, which has two digits: 0 and 1. A binary digit is called a bit.<br>

A computer system is subdivided into two functional entities: Hardware and Software.<br>


The hardware consists of all the electronic components and electromechanical devices that comprise the physical entity of the device.<br>

The software of the computer consists of the instructions and data that the computer manipulates to perform various data-processing tasks.<br>
            <br><br>


                <img src="../assets/images/dc.png" style="width: 700px; height: 350px;" >

                <br><br>
               
            </h5>
        
        </div>
    </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary pull-right" style="margin-right: 210px;margin-top: 10px;" routerLink="/lgCoa">Next</button>
        <button type="button" class="btn btn-primary pull-left" style="margin-left: 610px;margin-top: 10px;" routerLink= "/insCoa">Previous</button>
    </div>