<div class="contain" style="display: flex;">
    <app-java-home></app-java-home>
    
    <div class="parent">
        <div class="right">
            <h1><b>Hello in Java</b></h1>
        <br>
    
            <h5> A "Hello, World!" is a simple program that outputs Hello, World! on the screen. Since it's a very simple program,<br><br></h5>
            
               <img src="../assets/images/helloworld.png" style="width: 680px; height: 210px;" >
        <h4><b>Output : </b></h4><br>
        <h5>Hello, World!</h5>

        </div>
    </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary pull-right" style="margin-right: 310px;margin-top: 10px;" routerLink="/controlJ">Next</button>
        <button type="button" class="btn btn-primary pull-left" style="margin-left: 510px;margin-top: 10px;" routerLink= "/featuresJ">Previous</button>

    </div>
