<!-- <h3 style="text-align:center; margin-left: 50%; margin-right: 50%;">JAVA Tutorials</h3> -->
<div class="parent">
    <div class="left">
        <h4>Introduction</h4>
        <br>
            <button routerLink="/whatC"><h5>> What is C</h5></button><br>
            <button routerLink="/historyC"><h5>> History in C</h5></button><br>
            <button routerLink="/featuresC"><h5>> Features of C</h5></button><br>
            <button routerLink="/firstC"><h5>> First C Program</h5></button><br>
            <button routerLink="/compileC"><h5>> Compilation <br> Process</h5></button><br>
            <br>
            <h4>C Fundamentals</h4>
            <button routerLink="/variableC"><h5>> Variables</h5></button><br>
            <button routerLink="/keywordC"><h5>> KeyWords</h5></button><br>
            <button routerLink="/datatypeC"><h5>> Data Types</h5></button><br>

            <!-- <button routerLink="/home"><h5>SQL ></h5></button><br>
            <button routerLink="/quiz" style="padding-bottom: 5%;"><h5>Quiz ></h5></button> -->
        <br>
        <h4>C Control Statements</h4>
        <br>
            <!-- <button routerLink="/controlJ"><h5>> Java Control<br>Statements</h5></button><br> -->
            <button routerLink="/ifelseC"><h5>> C if-else</h5></button><br>
            <button routerLink="/switchC"><h5>> C Switch</h5></button><br>
            <button routerLink="/whileC"><h5>> While loop</h5></button><br>
            <button routerLink="/dowhileC"><h5>> Do While loop</h5></button><br>
            <button routerLink="/forC"><h5>> For loop</h5></button><br>
            <button routerLink="/breakJ"><h5>> C Break</h5></button><br>
            <button routerLink="/contiJ"><h5>> C continue</h5></button><br>

            <button routerLink="/ifelseC"><h5>> C if-else</h5></button><br>
            <button routerLink="/switchC"><h5>> C Switch</h5></button><br>
            <button routerLink="/whileC"><h5>> While loop</h5></button><br>
            <button routerLink="/dowhileC"><h5>> Do While loop</h5></button><br>
            <button routerLink="/forC"><h5>> For loop</h5></button><br>
            <button routerLink="/breakJ"><h5>> C Break</h5></button><br>
            <button routerLink="/contiJ"><h5>> C continue</h5></button><br>
            <!-- <button routerLink="/home"><h5>SQL></h5></button><br>
            <button routerLink="/quiz" style="padding-bottom: 5%;"><h5>Quiz ></h5></button> -->
  
  
    </div>
    
</div>

