*{
    margin-left: 20px;
}
  .parent {
    margin-left: 200px;
    margin-right: 20px;
    padding-top: 70px;
    display: flex;
    /* justify-content: space-around; */
  }
  
  .left {
    /* padding: 10px; */
    margin-left: 30px;
    border: 1px solid lightgray;
    background-color: #e9f7ff;
    width: 250px;
  }
  .left button{
    border: none;
    background: none;
  }
 
