<div id="top"> 
    <h2>DBMS Tutorial</h2>
 </div>
<div class="contain" style="display: flex;">
    <app-dbms-home></app-dbms-home>
    
    <div class="parent">
        <div class="right">
            <h1><b>Data Models</b></h1>
        <br>
        <h5>
            Data models define how the logical structure of a database is modeled. Data Models are fundamental entities to introduce abstraction in a DBMS. Data models define how data is connected to each other and how they are processed and stored inside the system.

            The very first data model could be flat data-models, where all the data used are to be kept in the same plane. Earlier data models were not so scientific, hence they were prone to introduce lots of duplication and update anomalies.<br><br>

            <b>1. ER model</b><br>
            <b>2. Relational model</b><br>
        </h5>
        </div>
    </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary pull-right" style="margin-right: 310px;margin-top: 10px;" routerLink="/entityD">Next</button>
        <button type="button" class="btn btn-primary pull-left" style="margin-left: 510px;margin-top: 10px;" routerLink= "/archiD">Previous</button>

    </div>

    

