<div id="top"> 
    <h2>Computer Network Tutorial</h2>
 </div>
<div class="contain" style="display: flex;">
    <app-net-home></app-net-home>
    
    <div class="parent">
        <div class="right">
            <h1><b>Mesh Topology</b></h1>
        <br>
        <h5>In a mesh topology, every device is connected to another device via a particular channel. 

            <br><br>
                <img src="../assets/images/mesh.png" style="width: 700px; height: 480px;" >

            </h5>
        
        </div>
    </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary pull-right" style="margin-right: 210px;margin-top: 10px;" routerLink="/starN">Next</button>
        <button type="button" class="btn btn-primary pull-left" style="margin-left: 610px;margin-top: 10px;" routerLink= "/topoN">Previous</button>
    </div>