<div id="top"> 
    <h2>JAVA Tutorial</h2>
 </div>
<div class="contain" style="display: flex;">
    <app-java-home></app-java-home>
    <div class="parent">
        <div class="right">
            <h1><b>Java Break</b></h1>
        <br>
    
            <h5> The break statement in Java programming language has the following two usages −<br>

               1.When the break statement is encountered inside a loop, the loop is immediately terminated and the program control resumes at the next statement following the loop.<br>
                
                2.It can be used to terminate a case in the switch statement</h5><br>
                <img src="../assets/images/break.png" style="width: 700px; height: 480px;" > 

        </div>
    </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary pull-right" style="margin-right: 310px;margin-top: 10px;" routerLink="/contiJ">Next</button>
        <button type="button" class="btn btn-primary pull-left" style="margin-left: 510px;margin-top: 10px;" routerLink= "/forJ">Previous</button>

    </div>
