<div id="top">
    <h2>C Tutorial</h2>
</div>
<div class="contain" style="display: flex;">
    <app-c-home></app-c-home>

    <div class="parent">
        <div class="right">
            <h1><b>while loop in C</b></h1>
            <br>

            <h5 style="text-align: justify;">
                While loop is also known as a pre-tested loop. In general, a while loop allows a part of the code to be
                executed multiple times depending upon a given boolean condition. It can be viewed as a repeating if
                statement. The while loop is mostly used in the case where the number of iterations is not known in
                advance. <br>
                <h4>Syntax of while loop in C language</h4>
                The syntax of while loop in c language is given below: <br><br>
                <div style="background-color: antiquewhite;">
                    <b style="color: blue;">while</b>(condition) &#123;  <br>
                    <i style="color: green;">//code to be executed</i>  <br>
                    &#125;
                </div> <br>
                <h4>Flowchart of while loop in C</h4><br>
                <img src="../assets/images/whileC.png" alt="" srcset="">
            </h5>

        </div>
    </div>
</div>
<div>
    <button type="button" class="btn btn-primary pull-left" style="margin-left: 510px;margin-top: 10px;"
        routerLink="/switchC">Previous</button>
    <button type="button" class="btn btn-primary pull-right" style="margin-right: 310px;margin-top: 10px;"
        routerLink="/dowhileC">Next</button>
</div>