<div id="top"> 
    <h2>Computer Network Tutorial</h2>
 </div>
<div class="contain" style="display: flex;">
    <app-net-home></app-net-home>
    
    <div class="parent">
        <div class="right">
            <h1><b>Bus Topology</b></h1>
        <br>
        <h5>
            Bus topology is a network type in which every computer and network device is connected to a single cable. It transmits the data from one end to another in a single direction. No bi-directional feature is in bus topology. It is a multi-point connection and a non-robust topology because if the backbone fails the topology crashes.
            <br><br>
                <img src="../assets/images/bus.jpg" style="width: 700px; height: 480px;" >

            </h5>
        
        </div>
    </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary pull-right" style="margin-right: 210px;margin-top: 10px;" routerLink="/ringN">Next</button>
        <button type="button" class="btn btn-primary pull-left" style="margin-left: 610px;margin-top: 10px;" routerLink= "/starN">Previous</button>
    </div>