<div id="top">
    <h2>C Tutorial</h2>
</div>
<div class="contain" style="display: flex;">
    <app-c-home></app-c-home>

    <div class="parent">
        <div class="right">
            <h1><b>while loop in C</b></h1>
            <br>

            <h5 style="text-align: justify;">
                C do while loops are very similar to the while loops, but it always executes the code block at least
                once and furthermore as long as the condition remains true. This is an <b>exit-controlled</b> loop.
                <br>
                <h4>Syntax:</h4>
                <div style="background-color: antiquewhite;padding: 10px;">do <br>
                    &#123;<br>
                    &nbsp;&nbsp;&nbsp;statement(s); <br>
    
                    &#125;while( condition );</div> <br>
                    <h4>Flowchart of do while loop:</h4><br>
                    <img src="../assets/images/do-whileC.png" ><br>
            </h5>

        </div>
    </div>
</div>
<div>
    <button type="button" class="btn btn-primary pull-left" style="margin-left: 510px;margin-top: 10px;"
        routerLink="/whileC">Previous</button>
    <button type="button" class="btn btn-primary pull-right" style="margin-right: 310px;margin-top: 10px;"
        routerLink="/forC">Next</button>
</div>