<div id="top"> 
    <h2>DBMS Tutorial</h2>
 </div>
<div class="contain" style="display: flex;">
    <app-dbms-home></app-dbms-home>
    
    <div class="parent">
        <div class="right">
            <h1><b>Entity Relationship Model</b></h1>
        <br>
        <h5>
            Entity-Relationship (ER) Model is based on the notion of real-world entities and relationships among them. While formulating real-world scenario into the database model, the ER Model creates entity set, relationship set, general attributes and constraints.

            ER Model is best used for the conceptual design of a database.

            ER Model is based on −<br>

            <b>Entities and their attributes.</b><br>

            <b>Relationships among entities.</b><br>
        </h5>
        <img src="../assets/images/er.jpg" style="width: 600px; height: 400px;" > <br>

        <h5><b>Entity − </b>An entity in an ER Model is a real-world entity having properties called attributes. Every attribute is defined by its set of values called domain. For example, in a school database, a student is considered as an entity. Student has various attributes like name, age, class, etc.<br>

            <b>Relationship −</b> The logical association among entities is called relationship. Relationships are mapped with entities in various ways. Mapping cardinalities define the number of association between two entities.
            
            <br>Mapping cardinalities −<br>
            
            <b>one to one</b><br>
            <b>one to many</b><br>
            <b>many to one</b><br>
            <b>many to many</b></h5>
        </div>
    </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary pull-right" style="margin-right: 210px;margin-top: 10px;" routerLink="/relationalD">Next</button>
        <button type="button" class="btn btn-primary pull-left" style="margin-left: 610px;margin-top: 10px;" routerLink= "/modelD">Previous</button>

    </div>

    

