<div id="top"> 
    <h2>C Tutorial</h2>
 </div>
<div class="contain" style="display: flex;">
<app-c-home></app-c-home>

<div class="parent">
    <div class="right">
        <h1><b>First C Program</b></h1>
    <br>

        <h5 style="text-align: justify;"> Before starting the abcd of C language, you need to learn how to write, compile and run the first c program.
<br><br>
            To write the first c program, open the C console and write the following code:
            <br><br><br><br>
           <div style="background-color: white; padding: 20px;">
            #include &lt;stdio.h&gt;<br>  
                <b style="color: green;">int</b> main() &#123;<br>
               &nbsp; printf("Hello C Language");<br>
               <b>return</b> 0;<br>
               &#125;
           </div><br><br><br>
           <b>#include &lt;stdio.h&gt;</b> includes the <b>standard input output</b> library functions. The printf() function is defined in stdio.h .
           <br><br>
            <b>int main()</b> The <b>main() function is the entry point of every program</b> in c language. <br><br>
            <b>printf()</b> The printf() function is <b>used to print data</b> on the console.
<br><br>
<b>return 0</b> The return 0 statement, returns execution status to the OS. The 0 value is used for successful execution and 1 for unsuccessful execution.
        </h5>
    
    </div>
</div>
</div>
<div>
    <button type="button" class="btn btn-primary pull-left" style="margin-left: 510px;margin-top: 10px;" routerLink= "/featuresC">Previous</button>
    <button type="button" class="btn btn-primary pull-right" style="margin-right: 310px;margin-top: 10px;" routerLink="/compileC">Next</button>
</div>
