<div id="top"> 
    <h2>C++ Tutorial</h2>
 </div>
<div class="contain" style="display: flex;">
    <app-cpp-home></app-cpp-home>
    
    <div class="parent">
        <div class="right">
            <h1><b>C++ if-else</b></h1>
        <br>
        <h5>
            Sometimes we need to execute a block of statements only when a particular condition is met or not met. This is called decision making, as we are executing a certain code after making a decision in the program logic. For decision making in C++, we have four types of control statements (or control structures), which are as follows:<br>

            a) if statement<br>
            b) nested if statement<br>
            c) if-else statement<br>
            d) if-else-if statement<br><br>       
              <img src="../assets/images/ifelse.png" style="width: 600px; height: 500px;" > <br>
 
        </h5>
        </div>
    </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary pull-right" style="margin-right: 210px;margin-top: 10px;" routerLink="/switchCpp">Next</button>
        <button type="button" class="btn btn-primary pull-left" style="margin-left: 610px;margin-top: 10px;" routerLink= "/opCpp">Previous</button>

    </div>

    

