<div id="top"> 
    <h2>Data Structure Tutorial</h2>
 </div>
<div class="contain" style="display: flex;">
    <app-dsc-home></app-dsc-home>
    
    <div class="parent">
        <div class="right">
            <h1><b>Types of Linked List</b></h1>
        <br>
    
            <h5>
                The following are the types of linked list:<br><br>

                Singly Linked list<br>
                Doubly Linked list<br>
                Circular Linked list<br>
                Doubly Circular Linked list<br>
                <br><br>
               
            </h5>
        
        </div>
    </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary pull-right" style="margin-right: 210px;margin-top: 10px;" routerLink="/slDsc">Next</button>
        <button type="button" class="btn btn-primary pull-left" style="margin-left: 610px;margin-top: 10px;" routerLink= "/llDsc">Previous</button>

    </div>