<div id="top">
    <h2>C Tutorial</h2>
</div>
<div class="contain" style="display: flex;">
    <app-c-home></app-c-home>

    <div class="parent">
        <div class="right">
            <h1><b>Keywords in C</b></h1>
            <br>

            <h5 style="text-align: justify;">
                A keyword is a <b>reserved word</b>. You cannot use it as a variable name, constant name, etc. There are only 32 reserved words (keywords) in the C language.
                <br><br>
                A list of 32 keywords in the c language is given below: <br><br>

                <table>
                    <tr>
                      <td>auto</td>
                      <td>double</td>
                      <td>int</td>
                      <td>struct</td>
                    </tr>
                    <tr>
                      <td>break</td>
                      <td>else</td>
                      <td>long</td>
                      <td>switch</td>
                    </tr>
                    <tr>
                      <td>case</td>
                      <td>enum</td>
                      <td>register</td>
                      <td>typedef</td>
                    </tr>
                    <tr>
                      <td>char</td>
                      <td>extern</td>
                      <td>return</td>
                      <td>union</td>
                    </tr>
                    <tr>
                      <td>const</td>
                      <td>float</td>
                      <td>short</td>
                      <td>unsigned</td>
                    </tr>
                    <tr>
                      <td>continue</td>
                      <td>for</td>
                      <td>signed</td>
                      <td>void</td>
                    </tr>
                    <tr>
                        <td>default</td>
                        <td>goto</td>
                        <td>sizeof</td>
                        <td>volatile</td>
                      </tr>
                      <tr>
                        <td>do</td>
                        <td>if</td>
                        <td>static</td>
                        <td>while</td>
                      </tr>
                  </table>
            </h5>

        </div>
    </div>
</div>
<div>
    <button type="button" class="btn btn-primary pull-left" style="margin-left: 510px;margin-top: 10px;" routerLink="/variableC">Previous</button>
    <button type="button" class="btn btn-primary pull-right" style="margin-right: 310px;margin-top: 10px;" routerLink="/datatypeC">Next</button>
</div>