<div class="parent">
  <div id="right">
    <div class="heading">
      <h3>Quizs</h3>
    </div>
    <br />
    <div class="row">
      <div class="column">
        <div class="img-container">
          <a href="#"><img src="../assets/images/java.png" alt="" /></a>
        </div>
        <div class="quiz-name">
          <a href="#"><h4 style="margin-top: -26px; color: #fff">Java</h4></a>
        </div>
      </div>

      <div class="column">
        <div class="img-container">
          <a href="#"><img src="../assets/images/python.png" alt="" /></a>
        </div>
        <div class="quiz-name">
          <a href="#"><h4 style="margin-top: -26px; color: #fff">Python</h4></a>
        </div>
      </div>

      <div class="column">
        <div class="img-container">
          <a href="#"><img src="../assets/images/sql.png" alt="" /></a>
        </div>
        <div class="quiz-name">
          <a href="#"><h4 style="margin-top: -26px; color: #fff">SQL</h4></a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="img-container">
          <a href="#"><img src="../assets/images/ds.png" alt="" /></a>
        </div>
        <div class="quiz-name">
          <a href="#"
            ><h4 style="margin-top: -26px; color: #fff">Data Structure</h4></a
          >
        </div>
      </div>
      <div class="column">
        <div class="img-container">
          <a href="#"><img src="../assets/images/dbms.png" alt="" /></a>
        </div>
        <div class="quiz-name">
          <a href="#"><h4 style="margin-top: -26px; color: #fff">DBMS</h4></a>
        </div>
      </div>
      <div class="column">
        <div class="img-container">
          <a href="#"><img src="../assets/images/csharp.png" alt="" /></a>
        </div>
        <div class="quiz-name">
          <a href="#"><h4 style="margin-top: -26px; color: #fff">C#</h4></a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="img-container">
          <a href="#"><img src="../assets/images/html.png" alt="" /></a>
        </div>
        <div class="quiz-name">
          <a href="#"><h4 style="margin-top: -26px; color: #fff">HTML</h4></a>
        </div>
      </div>
      <div class="column">
        <div class="img-container">
          <a href="#"><img src="../assets/images/css.png" alt="" /></a>
        </div>
        <div class="quiz-name">
          <a href="#"><h4 style="margin-top: -26px; color: #fff">CSS</h4></a>
        </div>
      </div>
      <div class="column">
        <div class="img-container">
          <a href="#"><img src="../assets/images/js.png" alt="" /></a>
        </div>
        <div class="quiz-name">
          <a href="#"
            ><h4 style="margin-top: -26px; color: #fff">JavaScript</h4></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
