<div id="top">
    <h2>C Tutorial</h2>
</div>
<div class="contain" style="display: flex;">
    <app-c-home></app-c-home>

    <div class="parent">
        <div class="right">
            <h1><b>C for loops</b></h1>
            <br>

            <h5 style="text-align: justify;">
                C for loops is very similar to a while loops in that it continues to process a block of code until a statement becomes false, and everything is defined in a single line. The for loop is also <b>entry-controlled</b> loop.
                <br>
                <h4>Syntax:</h4>
                <div style="background-color: antiquewhite;padding: 10px;">for ( init; condition; increment ) <br>
                    &#123;<br>
                    &nbsp;&nbsp;&nbsp;statement(s); <br>
                    &#125;</div> <br>
                    <h4>Flowchart of for loop:</h4><br>
                    <img src="../assets/images/c-for.png" ><br>
            </h5>

        </div>
    </div>
</div>
<div>
    <button type="button" class="btn btn-primary pull-left" style="margin-left: 510px;margin-top: 10px;"
        routerLink="/dowhileC">Previous</button>
    <button type="button" class="btn btn-primary pull-right" style="margin-right: 310px;margin-top: 10px;"
        routerLink="/forC">Next</button>
</div>