<div id="top"> 
    <h2>C Tutorial</h2>
 </div>
<div class="contain" style="display: flex;">
<app-c-home></app-c-home>

<div class="parent">
    <div class="right">
        <h1><b>What is C?</b></h1>
    <br>

        <h5 style="text-align: justify;"> C language Tutorial with programming approach for beginners and professionals, helps you to understand the C language tutorial easily. Our C tutorial explains each topic with programs. <br>
            <br>
            The C Language is developed by Dennis Ritchie for creating system applications that directly interact with the hardware devices such as drivers, kernels, etc. <br>
            <br>
            C programming is considered as the base for other programming languages, that is why it is known as mother language.
            <br><br><br>
            It can be defined by the following ways: <br><br>
            <ol>
                <li>Mother language</li>
                <li>System programming language</li>
                <li>Procedure-oriented programming language</li>
                <li>Structured programming language</li>
                <li>Mid-level programming language</li>
            </ol>
        </h5>
    
    </div>
</div>
</div>
<div>
    <button type="button" class="btn btn-primary pull-right" style="margin-right: 310px;margin-top: 10px;" routerLink="/historyC">Next</button>
</div>