.navbar{
    background: #0b87ca;
    height: 71px;
}


.navbar-brand img{
    width: 2.1em;
    height: 1.1em;
    padding-right: 3px;
}

.navbar .navbar-brand{
    font-weight: bold;
    font-size: 1.5em;
    color: #fff;
}

.navbar .navbar-brand:hover{
    color: white;
}

nav li a{
    color: #fff;
    font-weight: bold;
}

nav li a:hover{
    color: #fff;
    font-weight: bold;
    background-color: #0691CD;
    background-size: contain cover;
}

