<div class="parent">
    <div class="left">
        <h4>Computer Network</h4>
        <br>
            <button routerLink="/whatN"><h5>> What is Computer Network?</h5></button><br><br>
            <button routerLink="/feaN"><h5>> Features of Computer<br>Network</h5></button><br><br>
            <button routerLink="/compoN"><h5>> Computer Network<br> Components</h5></button><br><br>
            <button routerLink="/osiN"><h5>> OSI Model</h5></button><br><br>
            <button routerLink="/tcpipN"><h5>> TCP/IP Model</h5></button><br><br>

            <h4>Network Topology</h4>
            <br>
            <button routerLink="/topoN"><h5>> Network Topology</h5></button><br><br>
            <button routerLink="/meshN"><h5>> Mesh Topology</h5></button><br><br>
            <button routerLink="/starN"><h5>> Star Topology</h5></button><br><br>
            <button routerLink="/busN"><h5>> Bus Topology</h5></button><br><br>
            <button routerLink="/ringN"><h5>> Ring Topology</h5></button><br><br>
            <button routerLink="/treeN"><h5>> Tree Topology</h5></button><br>




        <br>
  
    </div>
    
</div>

