<div id="top"> 
    <h2>OS Tutorial</h2>
 </div>
<div class="contain" style="display: flex;">
    <app-os-home></app-os-home>
    
    <div class="parent">
        <div class="right">
            <h1><b>Process Scheduling</b></h1>
        <br>
    
            <h5>
                The process scheduling is the activity of the process manager that handles the removal of the running process from the CPU and the selection of another process on the basis of a particular strategy.

Process scheduling is an essential part of a Multiprogramming operating systems. Such operating systems allow more than one process to be loaded into the executable memory at a time and the loaded process shares the CPU using time multiplexing.

             </h5>

               
            
        
        </div>
    </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary pull-right" style="margin-right: 210px;margin-top: 10px;" routerLink="/pro3O">Next</button>
        <button type="button" class="btn btn-primary pull-left" style="margin-left: 610px;margin-top: 10px;" routerLink= "/procO">Previous</button>
        
    </div>