<div id="top"> 
    <h2>OS Tutorial</h2>
 </div>
<div class="contain" style="display: flex;">
    <app-os-home></app-os-home>
    
    <div class="parent">
        <div class="right">
            <h1><b>Types of OS</b></h1>
        <br>
    
            <h5>
                Popular types of OS (Operating System):<br><br>

                <ul><li>Batch Operating System
                <li>Multitasking/Time Sharing OS
                <li>Multiprocessing OS
                <li>Real Time OS
                <li>Distributed OS
                <li>Network OS
                <li>Mobile OS</li></ul>
             </h5>

               
            
        
        </div>
    </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary pull-right" style="margin-right: 210px;margin-top: 10px;" routerLink="/funcO">Next</button>
        <button type="button" class="btn btn-primary pull-left" style="margin-left: 610px;margin-top: 10px;" routerLink= "/appliO">Previous</button>
        
    </div>