<div id="top"> 
    <h2>Computer Architecture Tutorial</h2>
 </div>
<div class="contain" style="display: flex;">
    <app-coa-home></app-coa-home>
    
    <div class="parent">
        <div class="right">
            <h1><b>Functional Units</b></h1>
        <br>
    
            <h5>
                A computer organization describes the functions and design of the various units of a digital system.<br>
A general-purpose computer system is the best-known example of a digital system. Other examples include telephone switching exchanges, digital voltmeters, digital counters, electronic calculators and digital displays.<br>
Computer architecture deals with the specification of the instruction set and the hardware units that implement the instructions.<br>
Computer hardware consists of electronic circuits, displays, magnetic and optic storage media and also the communication facilities.<br>
Functional units are a part of a CPU that performs the operations and calculations called for by the computer program.<br>
Functional units of a computer system are parts of the CPU (Central Processing Unit) that performs the operations and calculations called for by the computer program. A computer consists of five main components namely, Input unit, Central Processing Unit, Memory unit Arithmetic & logical unit, Control unit and an Output unit.<br>



                <br><br>


                <img src="../assets/images/fu.jpg" style="width: 700px; height: 400px;" >

                <br><br>
               
            </h5>
        
        </div>
    </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary pull-right" style="margin-right: 210px;margin-top: 10px;" routerLink="/typearrDsc">Next</button>
        <button type="button" class="btn btn-primary pull-left" style="margin-left: 610px;margin-top: 10px;" routerLink= "/whatCoa">Previous</button>
    </div>