<div class="contain" style="display: flex;">
    <app-java-home></app-java-home>
    
    <div class="parent">
        <div class="right">
            <h1><b>Do While loop</b></h1>
        <br>
    
            <h5>The Java do-while loop is used to iterate a part of the program repeatedly, until the specified condition is true. If the number of iteration is not fixed and you must have to execute the loop at least once, it is recommended to use a do-while loop.

                Java do-while loop is called an exit control loop. Therefore, unlike while loop and for loop, the do-while check the condition at the end of loop body. The Java do-while loop is executed at least once because condition is checked after loop body.</h5><br>
                <img src="../assets/images/dowhile.png" style="width: 700px; height: 480px;" >        
        </div>
    </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary pull-right" style="margin-right: 310px;margin-top: 10px;" routerLink="/forJ">Next</button>
        <button type="button" class="btn btn-primary pull-left" style="margin-left: 510px;margin-top: 10px;" routerLink= "/whileJ">Previous</button>

    </div>
