<div id="top"> 
    <h2>Data Structure Tutorial</h2>
 </div>
<div class="contain" style="display: flex;">
    <app-dsc-home></app-dsc-home>
    
    <div class="parent">
        <div class="right">
            <h1><b>Singly Linked List</b></h1>
        <br>
    
            <h5>
                Linked List can be defined as collection of objects called nodes that are randomly stored in the memory.<br>
                A node contains two fields i.e. data stored at that particular address and the pointer which contains the address of the next node in the memory.<br>
                The last node of the list contains pointer to the null.<br><br>


                <img src="../assets/images/sl.png" style="width: 700px; height: 450px;" >

                <br><br>
               
            </h5>
        
        </div>
    </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary pull-right" style="margin-right: 210px;margin-top: 10px;" routerLink="/dlDsc">Next</button>
        <button type="button" class="btn btn-primary pull-left" style="margin-left: 610px;margin-top: 10px;" routerLink= "/typellDsc">Previous</button>

    </div>