<div class="parent">
    <div class="left">
        <h4>Introduction</h4>
        <br>
            <button routerLink="/WhatCoa"><h5>> What is Computer<br> Architecture?</h5></button><br><br>
            <button routerLink="/fuCoa"><h5>> Functional Units</h5></button><br><br>

            <h4>Design</h4>
            <br>
                <button routerLink="/gsCoa"><h5>> General System<br> Architecture</h5></button><br><br>
                <button routerLink="/spCoa"><h5>> Store Program<br> Control Concept </h5></button><br><br>
                <button routerLink="/flynnCoa"><h5>> Flynn's Classification<br> Of Computers </h5></button><br><br>
                <button routerLink="/regCoa"><h5>> Computer Register </h5></button><br><br>
                <button routerLink="/regcCoa"><h5>> Register & Memory<br>Configuration</h5></button><br><br>
                <h4>Computer Instruction</h4>
        <br>
            <button routerLink="/insCoa"><h5>> Instruction Cycle</h5></button><br><br>

            <h4>Digital Logic Circuits</h4>
        <br>
            <button routerLink="/dcCoa"><h5>> Digital Computer</h5></button><br><br>
            <button routerLink="/lgCoa"><h5>> Logic Gates</h5></button><br><br>

            <h4>Combinational Circuits</h4>
        <br>
            <button routerLink="/ccCoa"><h5>> Combinational Circuits</h5></button><br><br>
            <button routerLink="/haCoa"><h5>> Half-Adder</h5></button><br><br>
            <button routerLink="/faCoa"><h5>> Full-Adder</h5></button><br><br>

        <br>
  
    </div>
    </div>
    


