<div class="parent">
  <div id="right">
    <div class="heading">
      <h3>Programming Languages</h3>
    </div>
    <br />
    <div class="row">
      <div class="column">
        <div class="img-container">
          <a href="#"><img src="../assets/images/c.png" alt="" /></a>
        </div>
        <div class="quiz-name">
          <a href="#"><h4 style="margin-top: -26px; color: #fff;">C Programming</h4></a>
        </div>
      </div>
      <div class="column">
        <div class="img-container">
          <a href="#"><img src="../assets/images/cpp.png" alt="" /></a>
        </div>
        <div class="quiz-name">
          <a href="#"><h4 style="margin-top: -26px; color: #fff;">C++</h4></a>
        </div>
      </div>
      <div class="column">
        <div class="img-container">
          <a href="#"><img src="../assets/images/java.png" alt="" /></a>
        </div>
        <div class="quiz-name">
          <a routerLink="/whatJ"><h4 style="margin-top: -26px; color: #fff;">Java</h4></a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="img-container">
          <a href="#"><img src="../assets/images/python.png" alt="" /></a>
        </div>
        <div class="quiz-name">
          <a href="#"><h4 style="margin-top: -26px; color: #fff;">Python</h4></a>
        </div>
      </div>
      <div class="column">
        <div class="img-container">
          <a href="#"><img src="../assets/images/sql.png" alt="" /></a>
        </div>
        <div class="quiz-name">
          <a href="#"><h4 style="margin-top: -26px; color: #fff;">SQL</h4></a>
        </div>
      </div>

      <div class="column">
        <div class="img-container">
          <a href="#"><img src="../assets/images/kotlin.png" alt="" /></a>
        </div>
        <div class="quiz-name">
          <a href="#"><h4 style="margin-top: -26px; color: #fff;">Kotlin</h4></a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="img-container">
          <a href="#"><img src="../assets/images/js.png" alt="" /></a>
        </div>
        <div class="quiz-name">
          <a href="#"><h4 style="margin-top: -26px; color: #fff;">JavaScript</h4></a>
        </div>
      </div>
      <div class="column">
        <div class="img-container">
          <a href="#"><img src="../assets/images/php.png" alt="" /></a>
        </div>
        <div class="quiz-name">
          <a href="#"><h4 style="margin-top: -26px; color: #fff;"> PHP</h4></a>
        </div>
      </div>
      <div class="column">
        <div class="img-container">
          <a href="#"><img src="../assets/images/csharp.png" alt="" /></a>
        </div>
        <div class="quiz-name">
          <a href="#"><h4 style="margin-top: -26px; color: #fff;">C#</h4></a>
        </div>
      </div>
    </div>
  </div>
</div>
