<div id="top"> 
    <h2>OS Tutorial</h2>
 </div>
<div class="contain" style="display: flex;">
    <app-os-home></app-os-home>
    
    <div class="parent">
        <div class="right">
            <h1><b>Features of OS?</b></h1>
        <br>
    
            <h5>Important features of OS:<br><br>

               <ul><li> Protected and supervisor mode
                <li>Allows disk access and file systems Device drivers Networking Security
                    <li>Program Execution
                        <li>Memory management Virtual Memory Multitasking
                            <li>Handling I/O operations
                                <li>Manipulation of the file system
                                    <li>Error Detection and handling
                                        <li>Resource allocation
                                            <li>Information and Resource Protection.</li></ul><br>
                                            </h5>

               
            
        
        </div>
    </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary pull-right" style="margin-right: 210px;margin-top: 10px;" routerLink="/appliO">Next</button>
        <button type="button" class="btn btn-primary pull-left" style="margin-left: 610px;margin-top: 10px;" routerLink= "/whatO">Previous</button>
        
    </div>