<div class="footer">
  <div class="col-1">
    <a
      class="navbar-brand brand-name"
      routerLink=""
      routerLinkActive="active_link"
      ><img
        class="logo"
        src="../assets/images/infinite-logo.png"
        alt=""
      />ConvergeToInfinite</a
    >

    <br />
    <p class="navbar-brand">
      <img
        class="mail"
        src="../assets/images/mail-logo.png"
        alt=""
      />ofc@ConvergeToInfinite.com
    </p>
    <div class="social-menu">
      <ul>
        <li>
          <a href="#"><i class="fa fa-facebook"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-instagram"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-youtube"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-linkedin"></i></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-2">
    <h5 class="fot-header">Company</h5>
    <a class="fot-link" href="#">About Us</a><br />
    <a class="fot-link" href="#">Contact Us</a><br />
    <a class="fot-link" href="#">FAQs</a><br />
  </div>
  <div class="col-3">
    <h5 class="fot-header">Learn</h5>
    <a class="fot-link" href="#">Data Structure</a><br />
    <a class="fot-link" href="#">Languages</a><br />
    <a class="fot-link" href="#">CS Subjects</a><br />
  </div>
</div>
<div class="copyright">
  <p>ConvergeToInfinite copyright@2021</p>
</div>
