<div id="top"> 
    <h2>C++ Tutorial</h2>
 </div>
<div class="contain" style="display: flex;">
    <app-cpp-home></app-cpp-home>
    
    <div class="parent">
        <div class="right">
            <h1><b>C++ switch</b></h1>
        <br>
        <h5>
            <img src="../assets/images/switchcpp.jpg" style="width: 600px; height: 500px;" > <br>
 
        </h5>
        </div>
    </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary pull-right" style="margin-right: 210px;margin-top: 10px;" routerLink="/forCpp">Next</button>
        <button type="button" class="btn btn-primary pull-left" style="margin-left: 610px;margin-top: 10px;" routerLink= "/ifelseCpp">Previous</button>

    </div>

    

