
    <div class="parent">
    <div class="left">
        <h4>Introduction</h4>
        <br>
            <button routerLink="/whatD"><h5>> What is DBMS</h5></button><br>
            <button routerLink="/charD"><h5>> Characteristics of DBMS</h5></button><br>
            <button routerLink="/appliD"><h5>> Applications of DBMS</h5></button><br>
            <button routerLink="/archiD"><h5>> DBMS Architecture</h5></button><br><br>

            <h4>DBMS Models</h4>
            <br>
                <button routerLink="/modelD"><h5>> Data Models</h5></button><br>
                <button routerLink="/entityD"><h5>> Entity Relationship Model</h5></button><br>
                <button routerLink="/relationalD"><h5>> Relational Model</h5></button><br><br>

                <h4>Database</h4>
            <br>
                <button routerLink="/schemaD"><h5>> Database Schema</h5></button><br>
                <button routerLink="/indeD"><h5>> Data Independence</h5></button><br>

   
    </div>
    
</div>
