<div id="top"> 
    <h2>Computer Network Tutorial</h2>
 </div>
<div class="contain" style="display: flex;">
    <app-net-home></app-net-home>
    
    <div class="parent">
        <div class="right">
            <h1><b>Computer Network Components</b></h1>
        <br>
    
            <h5>Computer network components are the major parts which are needed to install the software. Some important network components are NIC, switch, cable, hub, router, and modem. Depending on the type of network that we need to install, some network components can also be removed. For example, the wireless network does not require a cable.
            </h5>
        
        </div>
    </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary pull-right" style="margin-right: 210px;margin-top: 10px;" routerLink="/osiN">Next</button>
        <button type="button" class="btn btn-primary pull-left" style="margin-left: 610px;margin-top: 10px;" routerLink= "/feaN">Previous</button>
    </div>