/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Sans&family=Lobster&family=Montserrat:wght@200;400&family=Poppins&family=Roboto+Mono:wght@500&display=swap'); */

#top {
  width: 300px;
  padding: 10px 0;
  border: 2px solid #000;
  margin: 50px 50% 0 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #81ccec;
}

* {
  margin: 0;
  padding: 0;
}

h4 {
  text-align: justify;
  font-size: 1.3em;
}

#parent {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}

#left {
  padding: 60px;
  border: 1px solid lightgray;
  background-color: #e9f7ff;
  width: 50%;

  /* font-family: 'Roboto Mono', monospace; */
}

#right {
  border: 1px solid lightgray;
  background-color: #e9f7ff;
  width: 30%;
}
#right a {
  padding: 50px;
  text-decoration: none;
  color: black;
}
button {
  padding: 4px;
  padding-left: 40px;
  /* padding-bottom: 30px; */
  border: none;
  background: none;
}

/* ---------------popular-courses style-------------------- */

.popular-container {
  padding-top: 120px;
  margin-bottom: 100px;
}

.heading {
  background-color: #81ccec;
  border: 2px solid #000;
  width: 17em;
  height: 50px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  margin-left: 27%;
}

h3 {
  text-align: center;
  margin-top: 4px;
  margin-bottom: 5px;
}

.right-box {
  border: 1px solid lightgray;
  background-color: #e9f7ff;
  width: 67%;
  height: 450px;
  padding: 30px;
  padding-left: 130px;
  justify-self: center;
  /* margin-left: 15%; */
  margin-left: auto;
  margin-right: auto;
}

.right-box a {
  padding: 50px;
  text-decoration: none;
  color: black;
}

.column {
  float: left;
  width: 21%;
  background-color: #fff;
  margin: 31px;
  height: 150px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
}

.img-container {
  width: 100%;
  height: 80%;
  /* background-color: #fff;
  border: 2px solid #000; */
  margin-top: 3px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-top: -3px;
  margin-left: -50px;
}

.quiz-name {
  height: 20%;
  width: 100%;
  background-color: #0168a0;
  color: #fff;
  margin-top: -3px;
  text-align: center;

  border-top: 2px solid #000;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  margin-left: 20px;
}

.row {
  margin-left: 3px;
}

.btn-all-course {
  position: absolute;
  width: 130px;
  height: 30px;
  left: 565px;
  margin-top: -50px;
  margin-left: 8%;
  background: #07a8da;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
}

.btn-all-course:hover {
  background-color: #0168a0;
}
