<div id="top"> 
    <h2>{{title}}</h2>
 </div>
 <h5>
 <p style="text-align: center; margin-top: 10px;margin-bottom: 10px;">A Programming portal for learning and To Find the Best Online Programming Tutorials</p>
</h5>

<div id="parent">
    <div id="left">
    <h5>{{title}} is an online platform for programmers where you can learn programming and can prepare for placements. Here you can 
        Practice Computer Science MCQ, Coding Quistions etc.
        Also you can Find Best Online Programming learning Resources Available on Internet.</h5>
    </div>
    <div id="right">
    <h4>Quick Links</h4>
    <br>

        <button routerLink="/home"><h5>Java Tutorials ></h5></button><br>
        <button routerLink="/home"><h5>Python ></h5></button><br>
        <button routerLink="/ide"><h5>IDE ></h5></button><br>
        <button routerLink="/home"><h5>SQL ></h5></button><br>
        <button routerLink="/quiz" style="padding-bottom: 5%;"><h5>Quiz ></h5></button>
        
    
    </div>
</div>