<div id="top"> 
    <h2>C++ Tutorial</h2>
 </div>
<div class="contain" style="display: flex;">
    <app-cpp-home></app-cpp-home>
    
    <div class="parent">
        <div class="right">
            <h1><b>C++ variables</b></h1>
        <br>
        <h5>
            A variable is a name which is associated with a value that can be changed. For example when I write int num=20; here variable name is num which is associated with value 20, int is a data type that represents that this variable can hold integer values. We will cover the data types in the next tutorial. In this tutorial, we will discuss about variables.<br><br>
            <b>Syntax of declaring a variable in C++ :</b><br>
            data_type variable1_name = value1, variable2_name = value2;<br><br>
            <b>For example:</b><br>
            int num1=20, num2=100;<br><br>
            <b>We can also write it like this:</b><br>
            int num1,num2;<br>
            num1=20;<br>
            num2=100;<br>
 
        </h5>
        </div>
    </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary pull-right" style="margin-right: 210px;margin-top: 10px;" routerLink="/datatypesCpp">Next</button>
        <button type="button" class="btn btn-primary pull-left" style="margin-left: 610px;margin-top: 10px;" routerLink= "/progCpp">Previous</button>

    </div>

    

