<div id="top"> 
    <h2>Data Structure Tutorial</h2>
 </div>
<div class="contain" style="display: flex;">
    <app-dsc-home></app-dsc-home>
    
    <div class="parent">
        <div class="right">
            <h1><b>Linked List</b></h1>
        <br>
    
            <h5>
                Linked list is a linear data structure that includes a series of connected nodes. Linked list can be defined as the nodes that are randomly stored in the memory. A node in the linked list contains two parts, i.e., first is the data part and second is the address part. The last node of the list contains a pointer to the null. After array, linked list is the second most used data structure. In a linked list, every link contains a connection to another link.<br><br>
                It allocates the memory dynamically. All the nodes of the linked list are non-contiguously stored in the memory and linked together with the help of pointers.<br>
In linked list, size is no longer a problem since we do not need to define its size at the time of declaration. List grows as per the program's demand and limited to the available memory space.



                <br><br>
               
            </h5>
        
        </div>
    </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary pull-right" style="margin-right: 210px;margin-top: 10px;" routerLink="/typellDsc">Next</button>
        <button type="button" class="btn btn-primary pull-left" style="margin-left: 610px;margin-top: 10px;" routerLink= "/TdarrDsc">Previous</button>

    </div>