<div id="top"> 
    <h2>Computer Network Tutorial</h2>
 </div>
<div class="contain" style="display: flex;">
    <app-net-home></app-net-home>
    
    <div class="parent">
        <div class="right">
            <h1><b>Features of Computer Network</b></h1>
        <br>
    
            <h5>Computer network's features are.<br><br>

               <ul><li> Communication speed
                <li>File sharing
                    <li>Back up and Roll back is easy
                        <li>Software and Hardware sharing
                            <li>Security
                                <li>Scalability
                                    <li>Reliability.</li></ul><br>
               
            </h5>
        
        </div>
    </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary pull-right" style="margin-right: 210px;margin-top: 10px;" routerLink="/compoN">Next</button>
        <button type="button" class="btn btn-primary pull-left" style="margin-left: 610px;margin-top: 10px;" routerLink= "/whatN">Previous</button>
    </div>