<div id="top"> 
    <h2>Data Structure Tutorial</h2>
 </div>
<div class="contain" style="display: flex;">
    <app-dsc-home></app-dsc-home>
    
    <div class="parent">
        <div class="right">
            <h1><b>Circular Singly Linked List</b></h1>
        <br>
    
            <h5>
                In a circular Singly linked list, the last node of the list contains a pointer to the first node of the list. We can have circular singly linked list as well as circular doubly linked list.

We traverse a circular singly linked list until we reach the same node where we started. The circular singly liked list has no beginning and no ending. There is no null value present in the next part of any of the nodes.

The following image shows a circular singly linked list.

                <br><br><br>


                <img src="../assets/images/csl.png" style="width: 700px; height: 400px;" >

                <br><br>
               
            </h5>
        
        </div>
    </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary pull-right" style="margin-right: 210px;margin-top: 10px;" routerLink="/cdlDsc">Next</button>
        <button type="button" class="btn btn-primary pull-left" style="margin-left: 610px;margin-top: 10px;" routerLink= "/dlDsc">Previous</button>

    </div>