<div class="parent">
    <div class="left">
        <h4>Introduction</h4>
        <br>
            <button routerLink="/WhatDsc"><h5>> What is Data Structure?</h5></button><br><br>
            <button routerLink="/typeDsc"><h5>> Types of Data Structure?</h5></button><br><br>
            <button routerLink="/opDsc"><h5>> Key Operations</h5></button><br><br>

            <h4>DS Array</h4>
            <br>
                <button routerLink="/arrDsc"><h5>> Array</h5></button><br><br>
                <button routerLink="/typearrDsc"><h5>> Types of Array</h5></button><br><br>
                <button routerLink="/TdarrDsc"><h5>> 2D Array</h5></button><br><br>

                <h4>Linked List</h4>
                <br>
                    <button routerLink="/llDsc"><h5>> Linked List</h5></button><br><br>        
                    <button routerLink="/typellDsc"><h5>> Types of Linked List</h5></button><br><br>        
                    <button routerLink="/slDsc"><h5>> Singly Linked List</h5></button><br><br>        
                    <button routerLink="/dlDsc"><h5>> doubly Linked List</h5></button><br><br>        
                    <button routerLink="/cslDsc"><h5>> Circular Singly Linked List</h5></button><br><br>
                    <button routerLink="/cdlDsc"><h5>> Circular Doubly Linked List</h5></button><br><br>

        <br>
  
    </div>
    </div>
    


