
<div id="top">
    <h2>C Tutorial</h2>
</div>
<div class="contain" style="display: flex;">
    <app-c-home></app-c-home>

    <div class="parent">
        <div class="right">
            <h1><b>Data Types in C</b></h1>
            <br>

            <h5 style="text-align: justify;">
                A data type specifies the type of data that a variable can store such as integer, floating, character, etc. <br><br>
                <img src="../assets/images/datatypeC.jpg" alt="" srcset="">
                <br><br>
                <table>
                    <tr>
                      <th>Types</th>
                      <th>Data Types</th>
                      
                    </tr>
                    <tr>
                      <td>Basic Data Type</td>
                      <td>int, char, float, double</td>
                      
                    </tr>
                    <tr>
                      <td>Derived Data Type</td>
                      <td>array, pointer, structure, union</td>
                      
                    </tr>
                    <tr>
                      <td>Enumeration Data Type</td>
                      <td>enum</td>
                      
                    </tr>
                    <tr>
                        <td>Void Data Type</td>
                        <td>void</td>
                        
                      </tr>
                  </table>
            </h5>

        </div>
    </div>
</div>
<div>
    <button type="button" class="btn btn-primary pull-left" style="margin-left: 510px;margin-top: 10px;" routerLink="/keywordC">Previous</button>
    <button type="button" class="btn btn-primary pull-right" style="margin-right: 310px;margin-top: 10px;" routerLink="/ifelseC">Next</button>
</div>