<div id="top"> 
    <h2>Computer Architecture Tutorial</h2>
 </div>
<div class="contain" style="display: flex;">
    <app-coa-home></app-coa-home>
    
    <div class="parent">
        <div class="right">
            <h1><b>Full-Adder</b></h1>
        <br>
    
            <h5>
                This circuit needs three binary inputs and two binary outputs.
            <br><br><br><br><br><br>


                <img src="../assets/images/faa.png" style="width: 700px; height: 650px;" >

                <br><br>
               
            </h5>
        
        </div>
    </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary pull-left" style="margin-left: 610px;margin-top: 10px;" routerLink= "/haCoa">Previous</button>
    </div>