<div class="parent">
    <div class="left">
        <h4>Operating System</h4>
        <br>
            <button routerLink="/whatO"><h5>> What is OS?</h5></button><br><br>
            <button routerLink="/feaO"><h5>> Features of OS</h5></button><br><br>
            <button routerLink="/appliO"><h5>> Applications of OS</h5></button><br><br>
            <button routerLink="/typeO"><h5>> Types of OS</h5></button><br><br>
            <button routerLink="/funcO"><h5>> Functions of OS</h5></button><br><br>
            <button routerLink="/procO"><h5>> Process</h5></button><br><br>
            <button routerLink="/pro2O"><h5>> Process Scheduling</h5></button><br><br>
            <button routerLink="/pro3O"><h5>> Process Scheduling Queues</h5></button><br><br>



        <br>
  
    </div>
    
</div>

