<div class="contain" style="display: flex;">
    <app-java-home></app-java-home>
    
    <div class="parent">
        <div class="right">
            <h1><b>While loop</b></h1>
        <br>
    
            <h5> Java while loop is a control flow statement that allows code to be executed repeatedly based on a given Boolean condition. The while loop can be thought of as a repeating if statement</h5><br>
            <img src="../assets/images/whileloop.png" style="width: 700px; height: 480px;" >
        </div>
    </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary pull-right" style="margin-right: 310px;margin-top: 10px;" routerLink="/dowhileJ">Next</button>
        <button type="button" class="btn btn-primary pull-left" style="margin-left: 510px;margin-top: 10px;" routerLink= "/switchJ">Previous</button>

    </div>
