<div id="top"> 
    <h2>Computer Network Tutorial</h2>
 </div>
<div class="contain" style="display: flex;">
    <app-net-home></app-net-home>
    
    <div class="parent">
        <div class="right">
            <h1><b>Ring Topology</b></h1>
        <br>
        <h5>
            In this topology, it forms a ring connecting devices with its exactly two neighboring devices.

            A number of repeaters are used for Ring topology with a large number of nodes, because if someone wants to send some data to the last node in the ring topology with 100 nodes, then the data will have to pass through 99 nodes to reach the 100th node. Hence to prevent data loss repeaters are used in the network.
            
            The transmission is unidirectional, but it can be made bidirectional by having 2 connections between each Network Node, it is called Dual Ring Topology.
            <br><br>
                <img src="../assets/images/ring.jpg" style="width: 700px; height: 480px;" >

            </h5>
        
        </div>
    </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary pull-right" style="margin-right: 210px;margin-top: 10px;" routerLink="/treeN">Next</button>
        <button type="button" class="btn btn-primary pull-left" style="margin-left: 610px;margin-top: 10px;" routerLink= "/busN">Previous</button>
    </div>