<div id="top"> 
    <h2>Computer Architecture Tutorial</h2>
 </div>
<div class="contain" style="display: flex;">
    <app-coa-home></app-coa-home>
    
    <div class="parent">
        <div class="right">
            <h1><b>General System Architecture</b></h1>
        <br>
    
            <h5>
                In Computer Architecture, the General System Architecture is divided into two major classification units.<br><br>

                <b>Store Program Control Concept</b><br>
                <b>Flynn's Classification of Computers</b><br>
            <br><br>


                <img src="../assets/images/gs.png" style="width: 700px; height: 3s50px;" >

                <br><br>
               
            </h5>
        
        </div>
    </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary pull-right" style="margin-right: 210px;margin-top: 10px;" routerLink="/spCoa">Next</button>
        <button type="button" class="btn btn-primary pull-left" style="margin-left: 610px;margin-top: 10px;" routerLink= "/fuCoa">Previous</button>
    </div>