<div id="top"> 
    <h2>JAVA Tutorial</h2>
 </div>
<div class="contain" style="display: flex;">
    <app-java-home></app-java-home>
    
    <div class="parent">
        <div class="right">
            <h1><b>Java Switch</b></h1>
        <br>
    
            <h5> The switch statement or switch case in java is a multi-way branch statement. Based on the value of the expression given, different parts of code can be executed quickly. The given expression can be of a primitive data type such as int, char, short, byte, and char.</h5><br>
            <img src="../assets/images/switch.png" style="width: 700px; height: 480px;" >
        </div>
    </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary pull-right" style="margin-right: 310px;margin-top: 10px;" routerLink="/whileJ">Next</button>
        <button type="button" class="btn btn-primary pull-left" style="margin-left: 510px;margin-top: 10px;" routerLink= "/ifelseJ">Previous</button>

    </div>
