<div id="top"> 
    <h2>Computer Architecture Tutorial</h2>
 </div>
<div class="contain" style="display: flex;">
    <app-coa-home></app-coa-home>
    
    <div class="parent">
        <div class="right">
            <h1><b>Logic Gates </b></h1>
        <br>
    
            <h5>
                The logic gates are the main structural part of a digital system.
                Logic Gates are a block of hardware that produces signals of binary 1 or 0 when input logic requirements are satisfied.
                Each gate has a distinct graphic symbol, and its operation can be described by means of algebraic expressions.
                The seven basic logic gates includes: AND, OR, XOR, NOT, NAND, NOR, and XNOR.
                The relationship between the input-output binary variables for each gate can be represented in tabular form by a truth table.
                Each gate has one or two binary input variables designated by A and B and one binary output variable designated by x.
            <br><br>


                <img src="../assets/images/lg.jpg" style="width: 700px; height: 700px;" >

                <br><br>
               
            </h5>
        
        </div>
    </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary pull-right" style="margin-right: 210px;margin-top: 10px;" routerLink="/ccCoa">Next</button>
        <button type="button" class="btn btn-primary pull-left" style="margin-left: 610px;margin-top: 10px;" routerLink= "/dcCoa">Previous</button>
    </div>