<div id="top">
    <h2>C Tutorial</h2>
</div>
<div class="contain" style="display: flex;">
    <app-c-home></app-c-home>

    <div class="parent">
        <div class="right">
            <h1><b>C if else Statement</b></h1>
            <br>

            <h5 style="text-align: justify;">
                The if-else statement in C is used to perform the operations based on some specific condition. The
                operations specified in if block are executed if and only if the given condition is true.
                <br><br>
                There are the following variants of if statement in C language. <br>
                <ul>
                    <li>If statement</li>
                    <li>If-else statement</li>
                    <li>If else-if ladder</li>
                    <li>Nested if</li>
                </ul>
                <h4>If Statement</h4>
                The if statement is used to check some given condition and perform some operations depending upon the
                correctness of that condition. It is mostly used in the scenario where we need to perform the different
                operations for the different conditions. The syntax of the if statement is given below.
                <br><br>
                <div style="background-color: antiquewhite;">
                    <b style="color: blue;">if</b>(expression) &#123;
                    <p style="color: green;">//code to be executed</p>
                    &#125;
                </div>
                <h4>Flowchart of if statement in C</h4>
                <img src="assets/images/if1.png" width="40%"><br>
                <h4>If-else Statement</h4>
                The if-else statement is used to perform two operations for a single condition. The if-else statement is
                an extension to the if statement using which, we can perform two different operations. <br>
                <div style="background-color: antiquewhite;">
                    <b style="color: blue;">if</b>(expression)  &#123;
                        <p style="color: green;">//code to be executed if condition is true</p>  
                        &#125;else&#123;  
                        <p style="color: green;">//code to be executed if condition is false</p>  
                        &#125;
                </div>
                <h4>Flowchart of the if-else statement in C</h4>
                <img src="../assets/images/if2.png" width="40%">
            </h5>

        </div>
    </div>
</div>
<div>
    <button type="button" class="btn btn-primary pull-left" style="margin-left: 510px;margin-top: 10px;"
        routerLink="/datatypeC">Previous</button>
    <button type="button" class="btn btn-primary pull-right" style="margin-right: 310px;margin-top: 10px;"
        routerLink="/switchC">Next</button>
</div>