<div class="contain" style="display: flex;">
    <app-dbms-home></app-dbms-home>
    
    <div class="parent">
        <div class="right">
            <h1><b>Entity Relationship Model</b></h1>
        <br>
        <h5>
            The most popular data model in DBMS is the Relational Model. It is more scientific a model than others. This model is based on first-order predicate logic and defines a table as an n-ary relation.
        </h5><br>
        <img src="../assets/images/relational.jpg" style="width: 400px; height: 400px;" > <br><br>

        <h5>
            The main highlights of this model are −<br>

          <ul><li>  Data is stored in tables called relations.</li>
            <li>Relations can be normalized.</li>
            <li>In normalized relations, values saved are atomic values.</li>
            <li>Each row in a relation contains a unique value.</li>
            <li>Each column in a relation contains values from a same domain.</li></ul>
        </h5>
            
        </div>
    </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary pull-right" style="margin-right: 310px;margin-top: 10px;" routerLink="/schemaD">Next</button>
        <button type="button" class="btn btn-primary pull-left" style="margin-left: 510px;margin-top: 10px;" routerLink= "/entityD">Previous</button>

    </div>

    

