<div id="top"> 
    <h2>OS Tutorial</h2>
 </div>
<div class="contain" style="display: flex;">
    <app-os-home></app-os-home>
    
    <div class="parent">
        <div class="right">
            <h1><b>Process Scheduling Queues</b></h1>
        <br>
    
            <h5>
                The OS maintains all PCBs in Process Scheduling Queues. The OS maintains a separate queue for each of the process states and PCBs of all processes in the same execution state are placed in the same queue. When the state of a process is changed, its PCB is unlinked from its current queue and moved to its new state queue.<br><br>
<img src="../assets/images/pro3.png" style="width: 600px; height: 3s50px;" > <br>

             </h5>

               
            
        
        </div>
    </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary pull-left" style="margin-left: 610px;margin-top: 10px;" routerLink= "/pro2O">Previous</button>
        
    </div>