<div id="top"> 
    <h2>DBMS Tutorial</h2>
 </div>
<div class="contain" style="display: flex;">
    <app-dbms-home></app-dbms-home>
    
    <div class="parent">
        <div class="right">
            <h1><b>Characteristics of DBMS</b></h1>
        <br>
    
            <h5> 
                A modern DBMS has the following characteristics −<br>

                <b>Real-world entity −</b> A modern DBMS is more realistic and uses real-world entities to design its architecture. It uses the behavior and attributes too. For example, a school database may use students as an entity and their age as an attribute.<br><br>
                
                <b>Relation-based tables −</b> DBMS allows entities and relations among them to form tables. A user can understand the architecture of a database just by looking at the table names.<br><br>
                
                <b>Isolation of data and application −</b> A database system is entirely different than its data. A database is an active entity, whereas data is said to be passive, on which the database works and organizes. DBMS also stores metadata, which is data about data, to ease its own process.<br><br>
                
                <b>Less redundancy −</b> DBMS follows the rules of normalization, which splits a relation when any of its attributes is having redundancy in values. Normalization is a mathematically rich and scientific process that reduces data redundancy.<br><br>
                
                <b>Consistency −</b> Consistency is a state where every relation in a database remains consistent. There exist methods and techniques, which can detect attempt of leaving database in inconsistent state. A DBMS can provide greater consistency as compared to earlier forms of data storing applications like file-processing systems.<br><br>
                
                <b>Query Language −</b> DBMS is equipped with query language, which makes it more efficient to retrieve and manipulate data. A user can apply as many and as different filtering options as required to retrieve a set of data. Traditionally it was not possible where file-processing system was used.<br>
            </h5>
        
        </div>
    </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary pull-right" style="margin-right: 210px;margin-top: 10px;" routerLink="/appliD">Next</button>
        <button type="button" class="btn btn-primary pull-left" style="margin-left: 610px;margin-top: 10px;" routerLink= "/whatD">Previous</button>

    </div>

    