<div class="contain" style="display: flex;">
    <app-java-home></app-java-home>
    
    <div class="parent">
        <div class="right">
            <h1><b>Java Control Statements</b></h1>
        <br>
    
            <h5> Java compiler executes the code from top to bottom. The statements in the code are executed according to the order in which they appear. However, Java provides statements that can be used to control the flow of Java code. Such statements are called control flow statements. It is one of the fundamental features of Java, which provides a smooth flow of program.

                Java provides three types of control flow statements.<br><br>
                
                <h4>1. Decision Making statements :</h4>
                if statements<br>
                switch statement<br><br>
                <h4>2. Loop statements :</h4>
                do while loop<br>
                while loop<br>
                for loop<br>
                for-each loop<br><br>
                <h4>3. Jump statements :</h4>
                break statement<br>
                continue statement</h5>
        
        </div>
    </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary pull-right" style="margin-right: 310px;margin-top: 10px;" routerLink="/ifelseJ">Next</button>
        <button type="button" class="btn btn-primary pull-left" style="margin-left: 510px;margin-top: 10px;" routerLink= "/helloJ">Previous</button>

    </div>

