<div id="top"> 
    <h2>OS Tutorial</h2>
 </div>
<div class="contain" style="display: flex;">
    <app-os-home></app-os-home>
    
    <div class="parent">
        <div class="right">
            <h1><b>Applications of OS</b></h1>
        <br>
    
            <h5>
                important activities that an Operating System performs −<br><br>

                <b>Security −</b> By means of password and similar other techniques, it prevents unauthorized access to programs and data.<br>
                
                <b>Control over system performance −</b> Recording delays between request for a service and response from the system.<br>
                
                <b>Job accounting −</b> Keeping track of time and resources used by various jobs and users.<br>
                
                <b>Error detecting aids −</b> Production of dumps, traces, error messages, and other debugging and error detecting aids.<br>
                
                <b>Coordination between other softwares and users −</b> Coordination and assignment of compilers, interpreters, assemblers and other software to the various users of the computer systems.
             </h5>

               
            
        
        </div>
    </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary pull-right" style="margin-right: 210px;margin-top: 10px;" routerLink="/typeO">Next</button>
        <button type="button" class="btn btn-primary pull-left" style="margin-left: 610px;margin-top: 10px;" routerLink= "/feaO">Previous</button>
        
    </div>